<div class="modal fade modal-xl" role="dialog" tabindex="-1" id="register-student-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="register-student-modal-title">Cadastrar aluno</h4><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body" style="width:100%;height:100%;display:flex;flex-direction:column;gap:20px;">
                <section id="teacherInfoSection" style="width:100%;">
                    <form class="row g-3 needs-validation" method="POST" id="student-form">
                        {% csrf_token %}

                        <div class="col-md-9">
                            <label class="form-label">Nome*</label>
                            {{ person_form.name }}
                        </div>

                        <div class="col-md-3"><label class="form-label">Matrícula*</label>
                            {% if person_form.ra %}
                                {{ person_form.ra }}
                            {% else %}
                                {{ person_form.ma }}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Universidade*</label>
                            {{ person_form.university }}
                        </div>
                        <div class="col-md-4"><label class="form-label">Campus*</label>
                            {{ person_form.campus }}
                            <div class="valid-feedback"></div>
                        </div>
                        <div class="col-md-4"><label class="form-label">Curso*</label>
                            {{ person_form.course }}
                            <div class="valid-feedback"></div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="modal-footer"><button class="btn btn-light" id="delete-student-btn" style="background-color:var(--bs-danger);color:white;" type="button">Remover</button><button class="btn btn-light" data-bs-dismiss="modal" type="button">Fechar</button><button class="btn btn-primary" form="student-form" id="save-student-btn" type="submit">Salvar</button></div>
        </div>
    </div>
</div>